/* CSS declarations go here */

html {
background: #ebf2f7;
}
body {

border: 1px solid #ccc;
box-shadow: 4px 4px 0 0 rgba(40, 40, 40, 0.2);
font-family: 'Armata', sans-serif;

width: 95%;
margin: auto;
margin-bottom: 5%;
margin-top: 5%;
display: table;
}

#main {
font-family: 'Armata', sans-serif;
display: table;
width: 90%;
margin: auto;
padding: 5%;
}

#message {width: 375px;}
